body {
  background-image: url("../img/IMG_0984.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* font-family: 'Cabin', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

.bodywrapper {
  width: 99%;
  height: 100vh;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#logo {
  font-family: 'Cabin', sans-serif;
  font-size: 4em;
  text-shadow:
            -5px 5px 10px #FEFEFE,
            0px 4px 5px #FEFEFE,
            4px 4px 5px #FEFEFE,
            3px -1px 5px #FEFEFE;
}

.content {
  font-family: 'Open Sans', sans-serif;
  max-width: 75%;
  max-height: 100%;
  text-shadow:
            -5px 5px 10px #FEFEFE,
            0px 4px 5px #FEFEFE,
            4px 4px 5px #FEFEFE,
            3px -1px 5px #FEFEFE;
}

.contentSub {
  font-family: 'Open Sans', sans-serif;
  display: none;
}

.resumeImg{
  max-width: 100%;
}
.project{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectImg{
  max-width: 80%;
  max-height: 70px;
}
